body {
    font: 16px Poppins, sans-serif;
}

code {
    background-color: #f8f9fa !important;
    padding: 2px 4px;
    border-radius: 4px;
}

pre {
    border-radius: 6px;

    code {
        padding: 15px 20px !important;
        width: 100%;
        display: block;
    }
}

img {
    max-width: 100%;
    height: auto;
}

label {
    font-weight: bold;
    margin: 5px 0 0;
    display: block;
}
