body {
  font: 16px Poppins, sans-serif;
}

code {
  padding: 15px 20px !important;
  width: 100%;
  display: block;
}

pre {
  border-radius: 6px;
}

img {
  max-width: 100%;
  height: auto;
}

label {
  font-weight: bold;
  margin: 5px 0 0;
  display: block;
}
