@use "variables";

.btn {
    color: variables.$color-white;
}

.btn:hover {
    color: variables.$color-white;
}

.container {
    width: 55%;
}

.banner-image-container {
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    // Next two lines are a fix for Safari's GPU/CPU border-radius glitch with hidden overflow.
    // (https://stackoverflow.com/questions/10314207/webkit-not-respecting-overflowhidden-with-border-radius)
    transform: translateZ(0);
}

.banner-image {
    max-width: 100%;
    // Animation
    transition: transform 0.5s;
}

.form-control {
    margin-bottom: 10px;
}

.navbar .navbar-toggler {
    border-color: transparent;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler:focus {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.alert {
    margin-bottom: 0;

    ul {
        margin-bottom: 0;
    }

    &.alert-dismissible {
        >.container {
            position: relative;
            padding-left: 2rem;

            >.btn-close {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

/* Style the Trix editor to look like a Bootstrap form control */
body trix-editor {
    display: block;
    width: 100%;
    min-height: 120px;
    max-height: 450px;
    overflow-y: auto;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Add focus styles to match Bootstrap */
body trix-editor:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/* Disable file attachment button in Trix toolbar */
body trix-toolbar [data-trix-button-group="file-tools"] {
    display: none !important;
}

// Don't let browsers change autofill styles
input:-webkit-autofill {
    background-color: initial !important;
    color: initial !important;
    transition: background-color 5000s ease-in-out 0s;
}
