$background-color: #1b262c;
$font-color: #bbe1fa;
$nav-background: #0f4c75;
$red: #b20000;
$accent-color: #3282b8;

body {
  background-color: $background-color;
  color: $font-color;
}

pre,
code {
  background-color: $font-color !important;
}

/* For posts page */
.post-container-feed {
  a {
    color: $font-color;
  }
}

.navbar a {
  color: $font-color !important;
}

.pagination {
  .page-item span,
  a {
    background-color: $nav-background !important;
    color: $font-color;
  }

  .page-item span:hover,
  a:hover {
    color: $font-color;
    opacity: 0.9;
  }
}

.navbar {
  background-color: $nav-background !important;

  a:hover {
    opacity: 0.8;
  }

  .dropdown-menu {
    background-color: $nav-background !important;

    a:hover {
      background-color: $accent-color !important;
    }
  }
}

.navbar .navbar-toggler {
  border-color: transparent;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(187, 225, 250, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler:focus {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(187, 225, 250, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Code blocks in markdown */
pre {
  background-color: $font-color;
  color: $accent-color;
}

.post-container-feed:hover {
  box-shadow: 2px 2px 10px $font-color;
}

input[type=text],
input[type=email],
input[type=password],
textarea,
select {
  background-color: $font-color !important;
  color: $nav-background !important;
}

.card {
  background-color: $nav-background;
  color: $font-color;
}

.card-header {
  background-color: $accent-color;
}

hr {
  background-color: $accent-color;
  height: 1px;
}

.btn-danger {
  background-color: $red;
  border-color: $red;
}

.table {
  color: $font-color;
}
