// Amethyst Theme Colors
@use 'theme' with ($background-color: #32245c,
    $background-color-accent: #42307d,
    $accent-color: #b489f4,
    $interaction-color: #731af7,
    $font-color: #eee,
    $danger-color: #a51d1d,
)
