// Golf Theme Colors
@use 'theme' with ($background-color: #d1e7dd,
    $background-color-accent: #d1e7dd,
    $accent-color: #75b798,
    $interaction-color: #198754,
    $font-color: #212529,
    $danger-color: #dc3545,
)
