// Golf Theme Colors
@use 'theme' with ($background-color: #d1e7dd,
    $background-color-accent: #b3dcc9,
    $accent-color: #83c7a7,
    $interaction-color: #198754,
    $font-color: #212529,
    $danger-color: #dc3545,
)
