// Golf Theme Colors
$background-color: #d1e7dd;
$background-color-accent: #e9ecef;
$accent-color: #75b798;
$interaction-color: #198754;
$font-color: #212529;
$danger-color: #dc3545;

// Import Theme Elements
@import 'theme';
