name: ci

on: [push, pull_request]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: extractions/setup-just@v3
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
      - run: docker network create traefik
      - name: Setup Docker container
        run: |
          cd src
          cp .env-example .env
          just setup
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: extractions/setup-just@v3
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - name: Lint project
        run: |
          cd src
          just install lint
  coverage:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: extractions/setup-just@v3
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: xdebug
      - name: Generate coverage report
        run: |
          cd src
          just install coverage
          ./bin/php-coveralls --coverage_clover=build/logs/clover.xml -v
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
