name: ci

on: [push, pull_request]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/bootstrap-php@v1
        with:
          php-version: '8.5'
      - name: Setup Docker container
        run: |
          cd src
          cp .env-example .env
          just setup
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/bootstrap-php@v1
        with:
          php-version: '8.5'
      - name: Lint project
        run: |
          cd src
          just install lint
  coverage:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/bootstrap-php@v1
        with:
          php-version: '8.5'
      - name: Generate coverage report
        run: |
          cd src
          just install coverage
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
